# Dependencies
node_modules/

# Production
dist/
build/

# IDE files
.vscode/
.idea/
.DS_Store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Misc
.cache/
.vercel
